body {
    font-family: sans-serif;
    background: #111;
    color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu, #game, #end {
    width: fit-content; 
    margin: 40px auto;
    text-align: center;
}

.info {
    display: flex;
    justify-content: center;
    gap: 20px;
}

select, input, button {
    width: 250px;
    padding: 8px;
    margin: 6px 0;
    border-radius: 6px;
    border: none;
}

button {
    background: #e94560;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #ff2e63;
}

.hidden {
    display: none;
}

#field {
    margin: 15px auto;         
    display: block;         

    max-width: 700px;          
    max-height: 500px;         

    border: 1px solid #555;
    position: relative;
    overflow: hidden;
}

#square, .fake {
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 4px;
    cursor: pointer;
}

.fake {
    background: red;
}

#warning {
    font-size: 12px;
    color: #ff4d4d;
}
