body {
  font-family: Arial;
  text-align: center;
}

#board {
  display: grid;
  grid-template-columns: repeat(5, 60px);
  gap: 5px;
  justify-content: center;
  margin: 20px;
}

.cell {
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 8px;
}

.on {
  background: yellow;
}

.off {
  background: #333;
}

.buttons button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
}

.hidden {
  display: none;
}

#winMessage {
  margin-top: 20px;
}
